html, body {
  box-sizing: border-box;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

li {
  margin: 0 5px;
}

header, footer {
  background-color: gray;
  color: white;
  padding: 20px 10px 0 10px;
  text-align: center;
}

footer {
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding-bottom: 15px;
}

header h3 {
  font-size: 16px;
}

h1, h4 {
  margin: 0;
}

.project, .issue, .column-labels {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
  background-color: rgb(189, 225, 255);
  border: solid;
  border-width: 0.5px;
  border-bottom-width: 0;
}

.column-labels {
  background-color: rgb(238, 156, 156);
}

.column-labels label:nth-of-type(n+2) {
  border-left: solid;
  border-width: 1px;
  margin: 0;
}

.project:last-of-type {
  border-bottom-width: 0.5px
}

.project label, .issue label,
.column-labels label {
  display: inline-block;
  width: calc(100% / 10);
  padding: 5px;
  overflow: hidden;
}

#project-list, #issue-list {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin-top: 25px;
}

.main-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 45%;
}

.main-menu input {
  margin-bottom: 15px;
  height: 1.5em;
}

.login {
  display: flex;
  flex-direction: column;
}

.login button {
  width: 45%;
}

.side-menu {
  display: flex;
  flex-direction: column;
}

.side-menu button {
  height: 100px;
  width: 150px;
  margin: 10px;
  border-radius: 10px;
  border-width: 1px;
}

main {
  display: flex;
  justify-content: center;
  height: calc(100% - 200px);
}

.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup input {
  margin-bottom: 20px;
}

.signup-buttons {
  display: flex;
  justify-content: space-between;
  height: 2em;
}

.about {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.contact-form {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
}

.contact-form input {
  margin-bottom: 15px;
}

.project-info, .issue-info {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.project-info input, .issue-info input {
  margin-bottom: 15px;
}

.project-info button, .issue-info button {
  width: 50%;
}

.error {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
}

.error button {
  margin-top: 50px;
  height: 2em;
}

.post-section {
  width: 40%;
}

.post {
  display: flex;
  flex-direction: column;
}

.post input {
  margin-top: 10px;
  margin-bottom: 50px;
}

.post textarea {
  height: 10em;
}

.post .buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  height: 2em;
}

.post-list {
  width: 40%;
}

.post-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: solid;
  border-width: 1px;
  border-radius: 5px;
  padding: 15px;
  margin: 5px 0;
}