header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 125px;
  width: calc(100% - 5% - 25px);
  margin: 0;
  padding: 0 5% 0 25px;
  border-bottom: solid;
  border-width: 0.25px;
  border-color: rgba(255, 255, 255, 0.13);
}

h1 {
  color: white;
  text-decoration: none;
  font-size: 40px;
  font-family: 'Courier New', Courier, monospace;
}

@media all and (max-width: 400px) {
  header {
    align-items: flex-start;
    padding: 5px;
    min-height: 50px;
  }

  h1 {
    justify-self: flex-start;
    font-size: 25px;
    margin: 0;
  }
}