header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-bottom: solid 1px rgba(255, 255, 255, 0.521);
  width: 100%;
  height: 25vw;
  max-height: 120px;
  padding: 5px 0;
}

header h1 {
  margin: 0;
  font-size: 8.5vmin;
}

header a {
  color: white;
  text-decoration-color: purple;
}

header nav {
  display: flex;
  justify-content: space-between;
  width: 50%;
  max-width: 350px;
}

header nav a {
  text-decoration: none;
  font-size: 5vmin;
  font-weight: bold;
}


@media only screen and (min-width: 450px) {
  header nav a {
    font-size: 22px;
  }
}


@media only screen and (min-width: 600px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    max-height: 10vmin;
    padding: 0 6vw 0 20px;
  }

  header h1 {
    font-size: 5.5vmin;
  }

  header nav {
    width: calc(100% / 3);
    margin-top: 1.5vw;
  }

  header nav a {
    font-size: 2.7vmin;
  }
}