.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  width: 50%;
  margin-top: 5%;
}

.login input {
  height: 2.5em;
  border-radius: 5px;
  margin-top: 5px;
  width: 250px;
}

.login label {
  margin-top: 25px;
}

.login-buttons {
  display: flex;
  justify-content: space-around;
  width: 50%;
  height: 2em;
  margin-top: 50px;
}

.login-buttons button {
  background-color: rgb(8, 255, 8);
  border: none;
  width: 120px;
  height: 1.8em;
  outline: none;
  font-family:'Courier New', Courier, monospace;
  font-weight: bolder;
  font-size: 20px;
  color: rgb(95, 0, 95);
  border-radius: 3px;
  margin: 0 10px;
}

.login button:hover {
  background-color: rgba(8, 255, 8, 0.76);
}

.login button:active {
  transform: scale(0.92);
}

.login h3 {
  margin-bottom: 50px;
}

span {
  margin-top: 10px;
  color: red;
}

@media all and (max-width: 400px) {
  .login {
    width: 100%;
    margin-top: 10%;
  }

  .login h3 {
    font-size: 4vh;
    margin-bottom: 30px;
    border-color: white;
  }

  .login-buttons {
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
  }

  .login button {
    margin: 0 10px;
    min-height: 1.5em;
    width: 100px;
    height: 1.8em;
    font-size: 18px;
  }
}