.header-options {
  display: flex;
  justify-content: space-between;
  /* align-self: flex-end; */
  /* width: 250px; */
  margin-bottom: 10px;
}

.header-options a, .header-options button {
  color: white;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  /* margin-left: 35px; */
}

.header-options button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

h4 {
  color: white;
  margin: 0;
  margin-top: 25px;
  font-size: 1.5vh;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

@media all and (max-width: 400px) {
  .header-options {
    box-sizing: border-box;
    width: 125px;
  }
  
  .header-options a, .header-options button {
    font-size: 15px;
  }
}