.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  width: 100%;
  margin-bottom: 150px;
  margin-top: 3vw;
}

.signup h3 {
  text-align: center;
  font-size: 8vw;
  margin-bottom: 25px;
}

.signup h4 {
  font-size: 4.5vmin;
  margin-top: 35px;
}

.signup h4:nth-of-type(1) {
  margin-top: 15px;
}

.signup input {
  line-height: 2em;
  width: 70%;
  max-width: 350px;
  border-radius: 20px;
  border: solid 2px rgb(61, 0, 61);
  font-size: 15px;
  outline: none;
  margin-top: 2px;
  margin-bottom: 25px;
  text-align: center;
}

.signup label {
  font-weight: bold;
}

.signup span {
  margin-top: 8px;
}

.signup-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  max-width: 300px;
}

.signup-buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 185, 0, 0.925);
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  color: white;
  height: 35px;
  width: 100px;
  text-align: center;
  margin: 10px 0;
  border: solid 1px rgba(82, 82, 82, 0.637);
  border-radius: 10px;
}

.signup button:hover {
  background-color: rgba(8, 255, 8, 0.76);
}

.signup button:active {
  transform: scale(0.92);
}

#usernameTaken, #emailTaken {
  color: red;
}

@media all and (min-width: 400px) {
  .signup {
    width: 100%;
  }

  .signup h3 {
    font-size: 3.2vh;
    margin-bottom: 30px;
  }

  .signup button {
    margin: 50px 10px;
    min-height: 1.5em;
    width: 100px;
    height: 1.8em;
    font-size: 18px;
  }
}


@media all and (min-width: 500px) {
  .signup h4 {
    font-size: 2.5vh;
  }
}