html, body, #root, main {
  background-color: rgba(0, 0, 0, 0.945);
  box-sizing: border-box;
  min-height: 100%;
  height: fit-content;
  margin: 0;
}

body {
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  width: 100%;
  margin-bottom: 50px;
}