.login {
  display: flex;
  flex-direction: column;
  width: 300px;
  color: white;
  font-size: 18px;
  margin-top: 10%;
}

.login input {
  height: 2.5em;
  margin-bottom: 25px;
  border-radius: 5px;
}

.login button {
  border-radius: 5px;
}